---
layout: base.njk
title: Galerie
---

<div class="w-80 mx-auto mt-5 p-7" x-data="{open: false}">

    <button @click="open = !open"
            class="bg-green-500 text-white rounded-md px-8 py-2 text-base font-medium hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300"
            id="open-btn">
        Affiche/Cache dialogue
    </button>

    <dialog :open="open" class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
        Contenu dialogue
    </dialog>
</div>

<div x-data="{imageUrl:null}">
    <ul>
        <li><img src="/static/images/thumbnails/animals-1.jpeg" alt="un animal"
                 @click="imageUrl = '/static/images/animals-1.jpeg';"></li>
        <li><img src="/static/images/thumbnails/animals-2.jpeg" alt="un animal"
                 @click="imageUrl = '/static/images/animals-2.jpeg';"></li>
        <li><img src="/static/images/thumbnails/animals-3.jpeg" alt="un animal"
                 @click="imageUrl = '/static/images/animals-3.jpeg';"></li>
        <li><img src="/static/images/thumbnails/animals-4.jpeg" alt="un animal"
                 @click="imageUrl = '/static/images/animals-4.jpeg';"></li>
        <li><img src="/static/images/thumbnails/animals-5.jpeg" alt="un animal"
                 @click="imageUrl = '/static/images/animals-5.jpeg';"></li>
    </ul>

    <div x-show="!!imageUrl" @click.away="imageUrl=null">
        <img :src="imageUrl" alt="">
    </div>
</div>